<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="get_bean_from_xml"
          class="com.company.Class_Get_Bean">
        <constructor-arg value="My name is: Firstname Lastname"/>
    </bean>

</beans>